<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Zip Code State Lookup</title>
  <meta name="description" content="Look up a state from zip code">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <div id="container">
    <div id="area">
    </div> <!-- area -->
  </div><!-- container -->

  <script src="assets/js/jquery-2.1.3.min.js"></script>
  <script src="assets/js/underscore.js"></script>
  <script src="assets/js/backbone.js"></script>

  <!-- simple Backbone View template -->
  <script type="text/template" id="area-template">
    <fieldset>
      <label for="zipcode">ZIP Code&#x2122: </label>
      <input type="text" id="zipcode" placeholder="(e.g., 94100)">
    </fieldset>

    <p>State: <%= info === null ?  "" : info.get("state") %></p>
    <p>City: <%= info === null ? "" : info.get("city") %></p>
  </script>
  <script src="assets/js/zipcode.js"></script>
</body>
</html>
